/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 1px solid pink;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Base Styles */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlprgwHKFkZgtmSR3NB0oRJfajCOD-NS_LA.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNV.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Crimson Text', serif;
  color: #232020;
  line-height: 1.3;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2rem;
}
p,
a,
li {
  font-size: 1.6rem;
}
/* Variables - Colors */
/* Mixin Classes */
.large-button {
  background-color: #FC221C;
  color: #FFF;
  font-family: 'Crimson Text', sans-serif;
  font-size: 2.2rem;
  padding: 1% 3%;
  margin: 4% 0;
  transition: background-color 0.4s;
}
.large-button:hover {
  background-color: #FD908D;
}
/* Header & Top Nav Styles */
header {
  background-color: #F8DFDB;
}
header .top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
header .top-nav .links {
  display: flex;
  width: 33%;
  justify-content: space-between;
  align-items: flex-end;
}
header .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}
header .intro .intro-text {
  width: 45%;
  padding: 0 2%;
}
header .intro .intro-text button {
  background-color: #FC221C;
  color: #FFF;
  font-family: 'Crimson Text', sans-serif;
  font-size: 2.2rem;
  padding: 1% 3%;
  margin: 4% 0;
  transition: background-color 0.4s;
}
header .intro .intro-text button:hover {
  background-color: #FD908D;
}
.skills {
  background-color: #F8DFDB;
  display: flex;
  justify-content: space-around;
  padding: 6% 0;
}
.skills div {
  width: 25%;
}
.skills div p {
  padding: 2%;
}
.recent-work h2,
.recent-work p {
  text-align: center;
  margin: 3% 0;
}
.recent-work div {
  display: flex;
  justify-content: space-evenly;
}
.experience {
  background-color: #F8DFDB;
  display: flex;
  justify-content: space-around;
  padding: 6% 0;
}
.experience div {
  width: 65%;
}
.experience div .job-description {
  margin: 0 0 4%;
}
.experience div .job-description h3,
.experience div .job-description p {
  padding: 1% 0;
}
